@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    padding-bottom: 35px;
    -webkit-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.content {
    width: 80%;
    margin: auto;
}

.header_info {
    width: 100%;
    padding: 11px 0 11px 0;
    background-color: #06266f;
}

.main {
    height: 100%;
    width: 100%;
}

.header_info-content {
    display: flex;
    margin: auto;
    align-items: center;
}

.header_info-location {
    display: flex;
    align-items: center;
}

.header_info-location .location-img {
    width: 50px;
    height: 50px;

}

.header_info-location .location-img img {
    width: 100%;
    height: 100%;

}

.header_info-location .location-text {
    color: #fff;
    font-weight: bold;
    font-family: 'OpenSans', Arial, sans-serif;
}

.header_info-phone {
    margin-left: 100px;
    color: #fff;
    font-weight: bold;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
}

.header_info-phone .phone-img {
    width: 30px;
    height: 30px;
}

.phone-img {
    padding-right: 10px;
}

.phone-img img {
    width: 100%;
    height: 100%;
}

.header_content {
    display: flex;
    margin: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.header_content .header_content-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header_content .header_content-item:first-child {
    justify-content: flex-start;
}

.header_content .header_content-item:last-child {

    justify-content: space-between;
}

.header_content .logo-img {
    max-width: 350px;
    max-height: 200px;
    min-width: 350px;
    min-height: 200px;
    padding-right: 5px;
}

.header_content .logo-img img {
    width: 100%;
    height: 100%;
}

.header_content-email {
    padding-top: 10px;
    color: #044886;
}

.header_content .header_content-address {
    color: #000;
    font-family: 'OpenSans', Arial, sans-serif;
    padding-left: 10px;
}

.header_content-time .time-days {
    color: #000;
    font-family: 'OpenSans', Arial, sans-serif;
    padding-bottom: 5px;
}

.header_content-time {
    color: #000;
    font-family: 'OpenSans', Arial, sans-serif;

}

.time-title {
    padding-bottom: 9px;
    display: flex;
}

.calendar-img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.calendar-img img {
    width: 100%;
    height: 100%;
}

.card-img {
    width: 30px;
    height: 30px;
    padding: 15px 25px 15px 25px;
    background-color: #1240ab;
    -webkit-box-shadow: -11px 0px 25px -8px rgba(67, 67, 67, 0.6);
    -moz-box-shadow: -11px 0px 25px -8px rgba(67, 67, 67, 0.6);
    box-shadow: -11px 0px 25px -8px rgba(67, 67, 67, 0.6);
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    color: #fff;
    font-family: 'OpenSans', Arial, sans-serif;
    align-items: center;

    background-color: #06266f;
}

.card-text {
    padding: 15px 45px 15px 45px;
    font-weight: bold;
}

.header_search {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.header_search .search {
    width: 100%;
}

.header_search .search .input-search {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #1240AB;
    height: 40px;
    outline: none;
    font-family: 'OpenSans', Arial, sans-serif;
    color: #044886;
    font-size: 14px;
}

.header_search .search_submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'OpenSans', Arial, sans-serif;
    color: #303030 !important;
    outline: none;
    border: 0;
    background: url("../image/search-icon.png") no-repeat center right transparent;
    cursor: pointer;
}

.menu_title {
    text-transform: uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2b2a29;
    margin-right: 70px;
    padding: 16px 30px 8px 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.menu_title:hover {
    color: #044886;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    top: 94px;
}

.menu_title .burgermenu-img img {
    width: 100%;
    height: 100%;

}

.burgermenu-img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.menu_title:hover .menu {
    display: block;
}

.menu_active {
    display: block;
}

.menu ul li {
    text-transform: uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 16px;
    color: #2b2a29;
    padding: 14px 15px 10px;
}

.menu ul {
    text-decoration: none;
    list-style: none;
}

nav {
    position: relative;
}

.menu ul li:hover {
    color: #044886;
    cursor: pointer;
}

main {
    background: #f7fafb;
}

.category {
    padding: 80px 0 20px 0;
}

.title {
    text-align: center;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 30px;
    color: #2b2a29;
    font-weight: bold;
    padding-bottom: 70px;
}

.category_content-item .item-line {
    display: flex;

}

.category_content-element {
    width: 300px;
    height: 300px;
    border: 1px solid #f0f0f0;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s all;
    background-size: cover;
}

.category_content-element:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
}

.category_content-element-big {
    width: 600px;
    height: 620px;
    border: 1px solid #f0f0f0;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s all;
}

.category_content-element-big:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
}

.category_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_content-element-title {
    padding-bottom: 20px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.company {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.company-texts {
    font-family: 'OpenSans', Arial, sans-serif;
    text-align: center;
    font-size: 23px;
}

.text-map {
    text-align: center;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 30px;
    color: #2b2a29;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px;
}

.address {
    color: #2b2a29;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 20px;
}

.photo-img {
    padding-top: 20px;
}

.photo-img img {
    width: 1008px;
    height: 477px;
    margin: auto;
}

.map-google {
    padding-top: 5px;
}

.map-block {
    width: 80%;
    margin: auto;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333333;
}

.footer-logo img {
    width: 170px;
}

.socials {
    display: flex;
    justify-content: center;
}

.social-img {
    width: 65px;
    height: 65px;
}

.social-img img {
    width: 100%;
    height: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-item .footer-contacts {
    color: #ffffff;
    font-family: 'OpenSans', Arial, sans-serif;
    padding-left: 10px;
}

.footer-contacts .contact-title {
    font-weight: bold;
}

.footer-contacts .contact-adders {
    padding-top: 9px;
}

.footer-contacts .contact-email {
    padding-top: 9px;
}

.footer-contacts .contact-phone {
    padding-top: 9px;
}

.footer-contacts .contact-time {
    padding-top: 9px;
}

.advantages {
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
}

.advantages-item {
    display: flex;
    -webkit-box-flex: 0;
    align-items: center;
    flex: 0 calc(30% - 20px);
    color: #ffffff;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 19px;
    background: #1e8add;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);

}

.advantages-item:only-child {
    width: 50%;
}

.item-img {
    max-width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.footer-item .footer-company {
    color: #ffffff;
    font-family: 'OpenSans', Arial, sans-serif;
    padding-left: 10px;
}

.footer-catalog-title {
    font-weight: bold;
}

.z1 {
    padding-top: 9px;
}

.z2 {
    padding-top: 9px;
}

.z3 {
    padding-top: 9px;
}

.z4 {
    padding-top: 9px;
}

.company-title {
    font-weight: bold;
}

.company-bank {
    padding-top: 9px;
}

.company-delivery {
    padding-top: 9px;
}

.delivery {
    padding-top: 80px;
    color: #2b2a29;
    font-size: 19px;
    font-family: 'OpenSans', Arial, sans-serif;
}

.company-1 {
    padding-top: 9px;
}

.company-site {
    padding-top: 80px;
    color: #2b2a29;
    font-size: 19px;
    font-family: 'OpenSans', Arial, sans-serif;
    padding-bottom: 40px;
}

.delivery-site {
    padding-top: 80px;
}

.delivery-2 {
    width: 500px;
    height: 150px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    font-size: 19px;
    font-family: 'OpenSans', Arial, sans-serif;
    background: #1e8add;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
}

.delivery-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-1-1 {
    padding-top: 40px;
    font-size: 19px;
    font-family: 'OpenSans', Arial, sans-serif;
    color: #2b2a29;
    padding-bottom: 40px;
    text-align: center;
}

.delivery-img {
    width: 60px;
    height: 60px;
    padding: 9px 0 9px 0;
}

.delivery-img img {
    height: 100%;
    width: 100%;
}

.spar-part-catalog {
    width: 100%;
    height: 100%;

}

.spar-part-catalog img {
    width: 500px;
    height: 400px;
}

.spare-part-title {
    text-align: center;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 30px;
    color: #2b2a29;
    padding-top: 80px;
    font-weight: bold;
}

.part-catalog-item{
    height: 500px;
  /*  background: linear-gradient(4deg, #5462c3, #ba872c);*/

}

.part-catalog-item_content{
    display: flex;
    height: 100%;
}

.part-catalog-item_info{
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: 'OpenSans', Arial, sans-serif;
}

.part-catalog-item_info .catalog-item_info-title {
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;

}

.part-catalog-item_image {
    width: 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.part-catalog_img{
    width: 450px;
    height: 400px;
}

.part-catalog_img img{
    width: 100%;
    height: 100%;
}

.catalog-item_info-btn{
    margin-top: 180px;
}

.catalog-item_info-btn button{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    background-color: #06266f;
    border: none;
    padding: 20px 35px;
    outline: none;
}

.catalog-item_info-btn button:hover{
    cursor: pointer;
    outline: none;
    background-color: #1240ab;
}

.dark{
    background-color: #f7fafb;
}



.product-photo {
    width: 500px;
    height: 500px;
    margin-left: 100px;

}

.product-photo img {
    width: 100%;
    height: 100%;

}

.product {
    display: flex;
padding-top: 50px;
    padding-bottom: 50px;
}

.product-price {
    width: 500px;
   margin-left: 20px;
}

.name {
    display: flex;
    padding-bottom: 20px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 22px;
    justify-content: center;
    text-transform: uppercase;
    color: #2b2a29;
}
.name-detail-stock{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 17px;
    color: #2b2a29;
}
.ok-photo{
    width: 25px;
    height: 25px;
}
.ok-photo img{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.name-detail{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 17px;
    color: #2b2a29;
    padding-top: 5px;
}
.name-detail-info{
    color: brown;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 15px;
    margin-top: 50px;
}
.price{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 30px;
    color: #2b2a29;
    display: flex;
margin-top: 20px;
    justify-content: flex-end;
}
.price-top{
    padding-left: 4px;
}