{% extends 'moto/base.html.twig' %}

{% block content %}
    <div class="content">
        <section class="subcategory-lvl2">
            <div class="title subcategory-lvl2-title">Title</div>

            <div class="subcategory-lvl2-content">
                <div class="subcategory-lvl2-item">
                    <a href="">
                        <div class="subcategory-lvl2-item-title">title item</div>
                    </a>
                    <div class="subcategory-lvl2-item-models">
                        <div class="subcategory-lvl2-item-model">model 1</div>
                        <div class="subcategory-lvl2-item-model">model 2</div>
                        <div class="subcategory-lvl2-item-model">model 3</div>
                        <div class="subcategory-lvl2-item-model">model 4</div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    </div>
{% endblock %}
