{% extends 'moto/base.html.twig' %}

{% block content %}

    <div class="spar-part-catalog">
        <div class="part-catalog-item white">
            <div class="content part-catalog-item_content">
                <div class="part-catalog-item_info">
                    <div class="catalog-item_info-title">
                        запчасти на квадрациклы ATV
                    </div>
                    <div class="catalog-item_info-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa maxime molestiae!
                    </div>
                    <a href="atv.html">
                        <div class="catalog-item_info-btn">
                            <button class="btn">
                                Смотреть каталог
                            </button>
                        </div>
                    </a>
                </div>
                <div class="part-catalog-item_image">
                    <a href="atv.html">
                        <div class="part-catalog_img">
                            <img src="image/q1.jpg"
                                 alt="">
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="part-catalog-item dark">
            <div class="content part-catalog-item_content">
                <div class="part-catalog-item_info">
                    <div class="catalog-item_info-title">
                        Запчасти на снегоходы
                    </div>
                    <div class="catalog-item_info-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa maxime molestiae!
                    </div>
                    <a href="snowmobile.html">
                        <div class="catalog-item_info-btn">
                            <button class="btn">
                                Смотреть каталог
                            </button>
                        </div>
                    </a>
                </div>
                <div class="part-catalog-item_image">
                    <a href="snowmobile.html">
                        <div class="part-catalog_img">
                            <img src="image/q2dark.jpg"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="part-catalog-item white">
            <div class="content part-catalog-item_content">
                <div class="part-catalog-item_info">
                    <div class="catalog-item_info-title">
                        Запчасти на мотоциклы и питбайки
                    </div>
                    <div class="catalog-item_info-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa maxime molestiae!
                    </div>
                    <a href="moto.html">
                        <div class="catalog-item_info-btn">
                            <button class="btn">
                                Смотреть каталог
                            </button>
                        </div>
                    </a>
                </div>
                <div class="part-catalog-item_image">
                    <a href="moto.html">
                        <div class="part-catalog_img">
                            <img src="image/q3.jpg"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="part-catalog-item dark">
            <div class="content part-catalog-item_content">
                <div class="part-catalog-item_info">
                    <div class="catalog-item_info-title">
                        Запчасти на скутеры и мопеды
                    </div>
                    <div class="catalog-item_info-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa maxime molestiae!
                    </div>
                    <a href="scooter.html">
                        <div class="catalog-item_info-btn">
                            <button class="btn">
                                Смотреть каталог
                            </button>
                        </div>
                    </a>
                </div>
                <div class="part-catalog-item_image">
                    <a href="scooter.html">
                        <div class="part-catalog_img">
                            <img src="image/q4.jpg"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}